.cpt-button {
    --bg-color: theme('colors.rose.500');
    --bg-color-hover: theme('colors.rose.800');
    --text-color: theme('colors.white');
    --text-color-hover: theme('colors.white');
    --border-color: theme('colors.rose.500');
    --border-color-hover: theme('colors.rose.800');

    display: inline-block;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--border-color);
    border-radius: 0.125rem;
    border-width: 2px;
    padding: 0.25em 1em;
    font-weight: 700;
    transition: 0.1s ease-in-out color, 0.1s ease-in-out background-color, 0.1s ease-in-out border-color;

    &:hover {
        color: var(--text-color-hover);
        background-color: var(--bg-color-hover);
        border-color: var(--border-color-hover);
    }

    $colors : ("red",
        "orange",
        "yellow",
        "green",
        "teal",
        "blue",
        "indigo"
    );

    @each $color in $colors {
        &.is-#{$color} {
            --bg-color: theme('colors.#{$color}.500');
            --bg-color-hover: theme('colors.#{$color}.800');
            --text-color: theme('colors.white');
            --text-color-hover: theme('colors.white');
            --border-color: theme('colors.#{$color}.500');
            --border-color-hover: theme('colors.#{$color}.800');
        }
    }

}
