/**
* Credits: Matthew Hinders-Anderson, https: //wehtt.am/./fonts/
*/

@font-face {
    font-family: "Klima";
    src: './fonts/klima-regular-web.eot' format('eot'),
        './fonts/klima-regular-italic-web.ttf' format('truetype'),
        './fonts/klima-regular-web.woff2' format('woff2'),
        './fonts/klima-regular-italic-web.woff' format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: './fonts/klima-medium-web.eot' format('eot'),
        './fonts/klima-medium-italic-web.ttf' format('truetype'),
        './fonts/klima-medium-web.woff2' format('woff2'),
        './fonts/klima-medium-italic-web.woff' format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: './fonts/klima-bold-web.eot' format('eot'),
        './fonts/klima-bold-italic-web.ttf' format('truetype'),
        './fonts/klima-bold-web.woff2' format('woff2'),
        './fonts/klima-bold-italic-web.woff' format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: './fonts/klima-ultra-web.eot' format('eot'),
        './fonts/klima-ultra-italic-web.ttf' format('truetype'),
        './fonts/klima-ultra-web.woff2' format('woff2'),
        './fonts/klima-ultra-italic-web.woff' format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: "./fonts/klima-regular-italic-web.eot" format("eot"),
        "./fonts/klima-regular-italic-web.ttf" format("truetype"),
        "./fonts/klima-regular-italic-web.woff2" format("woff2"),
        "./fonts/klima-regular-italic-web.woff" format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: "./fonts/klima-medium-italic-web.eot" format("eot"),
        "./fonts/klima-medium-italic-web.ttf" format("truetype"),
        "./fonts/klima-medium-italic-web.woff2" format("woff2"),
        "./fonts/klima-medium-italic-web.woff" format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: "./fonts/klima-bold-italic-web.eot" format("eot"),
        "./fonts/klima-bold-italic-web.ttf" format("truetype"),
        "./fonts/klima-bold-italic-web.woff2" format("woff2"),
        "./fonts/klima-bold-italic-web.woff" format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Klima";
    src: "./fonts/klima-ultra-italic-web.eot" format("eot"),
        "./fonts/klima-ultra-italic-web.ttf" format("truetype"),
        "./fonts/klima-ultra-italic-web.woff2" format("woff2"),
        "./fonts/klima-ultra-italic-web.woff" format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}