.cpt-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    --container-padding: 2rem;

    &--small {
        max-width: calc(789px + (var(--container-padding) * 2));
    }

    &--medium {
        max-width: calc(1024px + (var(--container-padding) * 2));
    }

    &--large {
        max-width: calc(1440px + (var(--container-padding) * 2));
    }

    @media (max-width: 767px) {
        --container-padding: 1rem;
    }
}